body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

label {
  font-weight: bold;
  padding: 0 0 1rem;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
}
